body{
    background-color: brown;
    color: blue
}
#tupian{
    background-image: url(../imgs/1.jpg);
    width: 100px;
    height: 80px;
    transform: rotate(45deg);
    box-shadow: 1px 1px 0 rgb(0, 0, 0,.25); 
}
#aaa{
    background-color: brown;
    color: blue
}